body {
    width: 1440 px;
    height: 1024px;
    background: #FEFFE4;
}

.page-title {
    color: #000;
    display: flex;
    justify-content: center;
    font-family: Ubuntu;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.container {
    display: flex;
    justify-content: center;
}

.container-alteracao-de-produto {
    width: 420px;
    height: px;
    justify-content: center;
    padding: 60px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: black;

}

.sub-titulo {
    text-align: center;
    color: #000;  
    font-weight: 400;
    margin: auto;

}

.label-input {
    display: flex;
    flex-direction: column;
    background-color:#FFF1C1;
}

.ident {
    color: #000;
    font-family: Ubuntu;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;


}

.input-ident {
    text-align: center;
    font-family: Ubuntu;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    height: 34px;
    display: flex;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid #000;
    color: black;

}

.input::placeholder {
    color: #9A9A9A;
    font-family: Ubuntu;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

.descricao {
    font-family: Ubuntu;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}

.input-descricao {
    text-align: center;
    font-family: Ubuntu;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    height: 34px;
    border-radius: 4px;
    border: 1px solid #000;
    color: black;
}

.preco {
    color: #000;
    font-family: Ubuntu;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.input-preco {
    color: #000;
    text-align: center;
    font-family: Ubuntu;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 34px;
    border-radius: 4px;
    border: 1px solid #000;
}

.button {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

}

#btAtualizar {
    width: 167px;
    height: 30px;
    font-size: 12pt;
    border: none;
    border-radius: 4px;
    background: #48A4FA;
    color: white;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

#btAtualizar:hover {
    background: #007BED;
}

#btAtualizar:active {
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

#btCancelar {
    width: 167px;
    height: 30px;
    font-size: 12pt;
    border: none;
    border-radius: 4px;
    background: #F59999;
    color: black;
}

#btCancelar:hover {
    background: #FF5F5F;

}

#btCancelar:active {
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

#listaProdutos ul {
    display: flex;
    justify-content:space-between ;
    font-family: 'Ysabeau Office';
    height: 43px;
    border-bottom: 1px solid #000;
    background: #FFF;
}

#listaProdutos ul:nth-child(odd) {
    border-bottom: 1px solid #000;
    background-color: white;
    
}

#listaProdutos ul:nth-child(even){
    border-bottom: 1px solid #000;
    background-color: #FFF1C1;
    

}
#listaProdutos li {
    display: flex;
    justify-content: center;
    font-size: 16pt;
    
    /*background-color:pink ;*/
   

}
li.produto-id {
    width:200px;
}
.li {
    width: 500;
}



    
