.page-title {
    text-align: center;
    font-family: ubuntu;
    font-size: 32px;
    font-style: normal;
    color: #000;
    font-weight: 400;
    line-height: normal;
}
h2{
    text-align: justify;
}

html {
background: #000;
}
form {
    
    height: 439px;
    width: 25rem;
    border-radius: 12px;
    background: #fff;
    box-shadow: 4px 4px 4px 0px rgba ( 0,0,0, 0.25);
    margin: auto;
    
    
}
input {
    width: 304px;px;
    height: 34px;
    margin:18px;
    border-radius: 4px;
    border: 1px solid;
    background: #feffe4;

}
#btatualizar {
 
        width: 167px;
        height: 46;
        margin:19px;
        border: none;
        font-size: 12pt;
        box-shadow: 4px 4px 4px 0px;
        background: #48a4fa;
        color:#fff;
   }
    #btcancelar {
 
   width: 116px;
   height: 26px;
   background: #f59999;
   color:#444;
   font-size:12pt;
   border: none;

 
    
    }

  
label {
    display:block;
    font-size: 20px;
    margin-right: 220px;
    text-align:flex;

    
    }
.nameimput{
    width: 320px;
    padding:10px;
    font-size: 18px;
    color: #333;
}


body{

    width: 1440px;
    height: 1024px;
    background-color: #feffe4;
}





    
    


