h1 {
    text-align: center;
    text-shadow: 1px 1px;

}
form {
    text-align: center;
    font-family: sans-serif;
    padding: 20px;

}

input {
    padding: 5px 5px;
    background-color: rgba(70, 128, 179, 0.322);
    margin-top: 10px;
    border-radius: 40px;
    width: 304px;
    height: 34px;

}
#btcadastrar{
    border-radius: 30px;
    background-color: aqua;
    width: 304px;
    height: 34px;
    text-align: center;
    font-size: 24px;
    font-family: sans-serif;
    line-height: normal;
    border: 1px solid #000;
}   
#form{
   
}
label {
    font-size: 20px;
    align-items: 5px;
    margin-right: 5px;
    background-color: rgba(228, 153, 41, 0.027);
    

}
body {

    

}
